@page
@model NewsApp.WebUI.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Haber Başlıkları</h2>

<ul>
    @foreach (var item in Model.News)
    {
        <li>@item.Title</li>
    }
</ul>
